@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Church Movie Database</h1>
    <p class="bg-primary fs-3 p-5 mt-5 text-light">Store data about your favorite Church movies in this database.</p>
    <a class="mt-5" asp-controller="Movies" asp-action="Index">Go to Database</a>
</div>
